.card12,
.card24,
.card34,
.card54,
.card44,
.card42 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card12 {
  z-index: 2;
  width: 546px;
  height: 400px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/Duduk.png");
}

.card24 {
  z-index: 3;
  width: 162px;
  height: 86px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/mascots1.png");
}

.card34 {
  z-index: 4;
  opacity: 0.9;
  width: 150px;
  height: 60px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/mascots2.png");
}

.card42 {
  z-index: 5;
  width: 326px;
  height: 462px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/Gantung.png");
}

.card44 {
  z-index: 7;
  width: 162px;
  height: 86px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/mascots3.png");
}

.card54 {
  z-index: 1;
  width: 144px;
  height: 125px;
  background-image: url("../../Assets/imgs/Tridi/EventUpdates/mascots4.png");
}
