html,
body,
/* #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* #root {
  overflow: hidden;
  background: #f0f0f0;
} */

.card13,
.card23,
.card33,
.card53,
.card43 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card13 {
  z-index: 2;
  /* min-width: 60ch;
  min-height: 60ch; */
  width: 600px;
  height: 250px;
  /* max-width: 100ch;
  max-height: 100ch; */
  background-image: url("../../Assets/imgs/Tridi/Wayout/Tiduran.png");
  /* background-color: aqua; */
}

.card23 {
  z-index: 3;
  width: 200px;
  height: 125px;
  background-image: url("../../Assets/imgs/Tridi/Wayout/mascots2\ 11.png");
}

.card33 {
  z-index: 4;
  opacity: 0.9;
  width: 150px;
  height: 60px;
  background-image: url("../../Assets/imgs/Tridi/Wayout/mascots2\ 11\ \(1\).png");
}

.card43 {
  z-index: 5;
  width: 300px;
  height: 100px;
  background-image: url("../../Assets/imgs/Tridi/Wayout/mascots\ \(1\).png");
}

.card53 {
  z-index: 1;
  width: 635px;
  height: 700px;
  background-image: url("../../Assets/imgs/Tridi/Wayout/Bekgron.png");
}

.container {
  margin-left: 15%;
  margin-top: -8%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
